.standardInputGroup {
  display: block;
  margin-bottom: 15px;
  font-size: 1rem;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    display: block;
    width: 100%;
    border-style: none;
    padding: 10px;
    font-size: 1rem;
  }
}
.standardInputGroup--double {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    width: 70px;
    text-align: center;
  }
}
.standardInputGroup--noMarginBottom {
  margin-bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
